# Reference pm4py Code XES to DF

## Converting XES to pandas data frame

In [8]:
from pm4py.objects.log.importer.xes import importer as xes_importer
#from pm4py.algo.filtering.pandas.attributes.attributes_filter import filter_df_on_attribute_values as df_filter
import pandas as pd
from pm4py.objects.conversion.log import converter as log_converter
from pm4py.objects.log.util.get_prefixes import get_log_with_log_prefixes as prefixes

variant = xes_importer.Variants.ITERPARSE
parameters = {variant.value.Parameters.TIMESTAMP_SORT: True}
log = xes_importer.apply('running-example.xes',
                         variant=variant, parameters=parameters)
#parameters = {log_converter.Variants.TO_DATA_FRAME.value.Parameters.CASE_ID_KEY: 'case:'}
df_event_log = log_converter.apply(log, variant=log_converter.Variants.TO_DATA_FRAME)
#df_event_log

df_event_log

HBox(children=(HTML(value='parsing log, completed traces :: '), FloatProgress(value=0.0, max=6.0), HTML(value=â€¦

,concept:name,org:resource,time:timestamp,Activity,Resource,Costs,case:concept:name,case:creator
0,register request,Pete,2010-12-30 11:02:00+01:00,register request,Pete,50,1,Fluxicon Nitro
1,examine thoroughly,Sue,2010-12-31 10:06:00+01:00,examine thoroughly,Sue,400,1,Fluxicon Nitro
2,check ticket,Mike,2011-01-05 15:12:00+01:00,check ticket,Mike,100,1,Fluxicon Nitro
3,decide,Sara,2011-01-06 11:18:00+01:00,decide,Sara,200,1,Fluxicon Nitro
4,reject request,Pete,2011-01-07 14:24:00+01:00,reject request,Pete,200,1,Fluxicon Nitro
5,register request,Mike,2010-12-30 11:32:00+01:00,register request,Mike,50,2,Fluxicon Nitro
6,check ticket,Mike,2010-12-30 12:12:00+01:00,check ticket,Mike,100,2,Fluxicon Nitro
7,examine casually,Sean,2010-12-30 14:16:00+01:00,examine casually,Sean,400,2,Fluxicon Nitro
8,decide,Sara,2011-01-05 11:22:00+01:00,decide,Sara,200,2,Fluxicon Nitro
9,pay compensation,Ellen,2011-01-08 12:05:00+01:00,pay compensation,Ellen,200,2,Fluxicon Nitro
10,register request,Pete,2010-12-30 14:32:00+01:00,register request,Pete,50,3,Fluxicon Nitro
11,examine casually,Mike,2010-12-30 15:06:00+01:00,examine casually,Mike,400,3,Fluxicon Nitro
12,check ticket,Ellen,2010-12-30 16:34:00+01:00,check ticket,Ellen,100,3,Fluxicon Nitro
13,decide,Sara,2011-01-06 09:18:00+01:00,decide,Sara,200,3,Fluxicon Nitro
14,reinitiate request,Sara,2011-01-06 12:18:00+01:00,reinitiate request,Sara,200,3,Fluxicon Nitro
15,examine thoroughly,Sean,2011-01-06 13:06:00+01:00,examine thoroughly,Sean,400,3,Fluxicon Nitro
16,check ticket,Pete,2011-01-08 11:43:00+01:00,check ticket,Pete,100,3,Fluxicon Nitro
17,decide,Sara,2011-01-09 09:55:00+01:00,decide,Sara,200,3,Fluxicon Nitro
18,pay compensation,Ellen,2011-01-15 10:45:00+01:00,pay compensation,Ellen,200,3,Fluxicon Nitro
19,register request,Ellen,2011-01-06 09:02:00+01:00,register request,Ellen,50,5,Fluxicon Nitro
20,examine casually,Mike,2011-01-07 10:16:00+01:00,examine casually,Mike,400,5,Fluxicon Nitro
21,check ticket,Pete,2011-01-08 11:22:00+01:00,check ticket,Pete,100,5,Fluxicon Nitro
22,decide,Sara,2011-01-10 13:28:00+01:00,decide,Sara,200,5,Fluxicon Nitro
23,reinitiate request,Sara,2011-01-11 16:18:00+01:00,reinitiate request,Sara,200,5,Fluxicon Nitro
24,check ticket,Ellen,2011-01-14 14:33:00+01:00,check ticket,Ellen,100,5,Fluxicon Nitro
25,examine casually,Mike,2011-01-16 15:50:00+01:00,examine casually,Mike,400,5,Fluxicon Nitro
26,decide,Sara,2011-01-19 11:18:00+01:00,decide,Sara,200,5,Fluxicon Nitro
27,reinitiate request,Sara,2011-01-20 12:48:00+01:00,reinitiate request,Sara,200,5,Fluxicon Nitro
28,examine casually,Sue,2011-01-21 09:06:00+01:00,examine casually,Sue,400,5,Fluxicon Nitro
29,check ticket,Pete,2011-01-21 11:34:00+01:00,check ticket,Pete,100,5,Fluxicon Nitro
30,decide,Sara,2011-01-23 13:12:00+01:00,decide,Sara,200,5,Fluxicon Nitro
31,reject request,Mike,2011-01-24 14:56:00+01:00,reject request,Mike,200,5,Fluxicon Nitro
32,register request,Mike,2011-01-06 15:02:00+01:00,register request,Mike,50,6,Fluxicon Nitro
33,examine casually,Ellen,2011-01-06 16:06:00+01:00,examine casually,Ellen,400,6,Fluxicon Nitro
34,check ticket,Mike,2011-01-07 16:22:00+01:00,check ticket,Mike,100,6,Fluxicon Nitro
35,decide,Sara,2011-01-07 16:52:00+01:00,decide,Sara,200,6,Fluxicon Nitro
36,pay compensation,Mike,2011-01-16 11:47:00+01:00,pay compensation,Mike,200,6,Fluxicon Nitro
37,register request,Pete,2011-01-06 15:02:00+01:00,register request,Pete,50,4,Fluxicon Nitro
38,check ticket,Mike,2011-01-07 12:06:00+01:00,check ticket,Mike,100,4,Fluxicon Nitro
39,examine thoroughly,Sean,2011-01-08 14:43:00+01:00,examine thoroughly,Sean,400,4,Fluxicon Nitro
40,decide,Sara,2011-01-09 12:02:00+01:00,decide,Sara,200,4,Fluxicon Nitro
41,reject request,Ellen,2011-01-12 15:44:00+01:00,reject request,Ellen,200,4,Fluxicon Nitro

## Event Log metadata

log level data and meta data only available as a pm4py event log object

In [30]:
print(log.attributes)
dict = {'creator':'1', 'book':'2'}
#print(log.classifiers)
#print(log.omni_present)
#omni = [log.omni_present.items()[1]]
metadata = [v for k, v in omni]
print(metadata)

{'creator': 'Fluxicon Nitro'}
[('event', {'concept:name': 'name', 'org:resource': 'resource', 'time:timestamp': datetime.datetime(2011, 4, 13, 14, 2, 31, 199000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'Activity': 'string', 'Resource': 'string', 'Costs': 'string'})]

In [5]:
import os
from  pm4py.visualization.graphs.variants.dates import apply_semilogx as visualizer
visulizer. attributes=["concept:name"])

SyntaxError: unmatched ')' (<ipython-input-5-c3c26c1bb4c3>, line 3)

In [ ]:
def data_points(df):
    axes_only, complete, selection_list = False, False, ['case:concept:name', 'concept:name', 'Costs', None]
    labels_list = [selection_list[0],selection_list[1], None, None]
    
    if axes_only:
        data_points_list = [df[selection_list[0]].tolist(), df[selection_list[1]].tolist(), None, None]
        return data_points_list, labels_list
    elif complete:
        xaxis_list = []
        yaxis_list = []
        labels_list[2],labels_list[3] = [selection_list[2], selection_list[3]]
        color_values = df[selection_list[2]].tolist()
        color_values_set = to_set(color_values)
        shape_values = df[selection_list[3]].tolist()
        shape_values_set = to_set(shape_values)
        df_filtered = df[selection_list]
        #; 'concept:name'; 'Resource'; 'Activity']
        for color_value in color_values_set:
            for shape_value in shape_values_set:
                xaxis_list.append(df_filtered.loc[(df_filtered[selection_list[2]] == color_value) & (df_filtered[selection_list[3]] == shape_value)][selection_list[0]].tolist())
                yaxis_list.append(df_filtered.loc[(df_filtered[selection_list[2]] == color_value) & (df_filtered[selection_list[3]] == shape_value)][selection_list[1]].tolist())
                #print(df_filtered.loc[(df_filtered[selection_list[2]] == color_value) & (df_filtered[selection_list[3]] == shape_value)])
                print(yaxis_list)
                #print(shape_values_set)
                #print(color_values_set)
                data_points_list = [xaxis_list, yaxis_list]
        #print(selection_list)
        legend_list = [color_values_set, shape_values_set]
        return labels_list, data_points_list, legend_list
    
    else:
        if selection_list[2] is not None:
            values_set = to_set(df[selection_list[2]].tolist())
            legend_list= [values_set, None]
            labels_list[2] = selection_list[2]
            selection_list = selection_list[:3]
        else:
            values_set = to_set(df[selection_list[3]].tolist())
            legend_list = [None,values_set]
            labels_list[3] = selection_list[3]
            selection_list = selection_list[:2] + [selection_list[3]]
            attr_index = 2
        
        xaxis_list = []
        yaxis_list = []
        df_filtered = df[selection_list]
        for value in values_set:
            xaxis_list.append(df_filtered.loc[df_filtered[selection_list[2]] == value][selection_list[0]].tolist())
            yaxis_list.append(df_filtered.loc[df_filtered[selection_list[2]] == value][selection_list[1]].tolist())                                  
        return labels_list, [xaxis_list, yaxis_list], legend_list
                                              
def to_set(list):
    return [i for j, i in enumerate(list) if i not in list[:j]]

#df_event_log[['case:concept:name', 'concept:name', 'Resource', 'Activity']]      
#print(data_points(df_event_log))
data_points(df_event_log)
#print(pd.to_datetime(data_points(df_event_log)[1][1][0][0]).tolist())

In [ ]:
df_event_log
print(pd.unique(df_event_log['concept:name']))
pd.unique((df_event_log['Costs'])).tolist()

In [ ]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df
df.loc['viper']

In [ ]:
df.loc[df['shield'] > 6, ['max_speed']]